.item {
    color: rgb(240, 245, 242);
    background-color: rgb(187, 237, 191);
    padding: 5px;

    display: flex;
}

.item img {
    width: 100px;
    border-radius: 50%;
}

.item div {
    padding: 1px;
    background-color: blueviolet;
    margin: 1px;
}

.message_text {
    width: 100%;
    margin-left: 50px;
}